{{define "content"}}
<div class="blankslate">
  <p>{{octicon "repo"}}</p>
  <p><strong>This repository is empty.</strong></p>
  <p class="text-muted">There are no commits here yet.</p>
</div>
{{end}}
