{{define "content"}}
<div class="blankslate error-page">
  <h1 class="error-status">{{.Status}}</h1>
  <p class="error-message">{{.Message}}</p>
  <p><a class="btn" href="/">Take me home</a></p>
</div>
{{end}}
